# Файлы, которые необходимо игнорировать

# Игнорирование папки .idea
.idea/

# Игнорирование скомпилированных файлов Python
*.pyc
*.pyo
__pycache__/


# Игнорирование логов
*.log

# Игнорирование временных файлов
*~
*.bak
